body {
  background: url(../images/img1.jpg);
  background-position: center;

  font: normal 16pt Arial;
}
header {
  color: white;
  text-align: center;
}
.h_1 {
  font-family: "Oxygen";
  color: #411588ec;
  text-align: center;
}
.div {
  /* padding: 10px; */
  background: #924478b7;
  width: 70%;
  height: 400px;
  margin: auto;
  box-sizing: border-box;
  padding: 20px;
}

.info {
  display: block;
  float: left;
  /* padding: 50px; */
  cursor: pointer;
}

.info.invisivel {
  display: none;
}

.fadeOut {
  opacity: 0;
  transition: 0.5s;
}

#filtrar-usuario {
  width: 200px;
  height: 35px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  margin: 20px auto 10px auto;
}

.button {
  display: block;
  width: 80px;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 20px auto 0 auto;
}

.button:hover {
  background-color: #3e8e41;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  text-align: center;
  /* padding: 20px; */
  align-self: flex-start;
  margin: 8px;
}

footer {
  color: rgb(221, 222, 236);
  font-size: 26px;
  text-align: center;
  font-style: italic;
}
