body {
  background: url(../images/img1.jpg);
  background-position: center;

  font: normal 16pt Arial;
}
header {
  color: white;
  text-align: center;
}
.h_1 {
  font-family: "Oxygen";
  color: #411588ec;
  text-align: center;
}
.div {
  /* padding: 10px; */
  background: #924478b7;
  width: 70%;
  height: 400px;
  margin: auto;
  box-sizing: border-box;
  padding: 20px;
}
ul li.info img {
  border-radius: 50%;
}
ul li.info {
  color: #fff;
}
.info {
  display: block;
  float: left;
  /* padding: 50px; */
  cursor: pointer;
}

.info.invisivel {
  display: none;
}

.fadeOut {
  opacity: 0;
  transition: 0.5s;
}

#filtrar-usuario {
  width: 200px;
  height: 35px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  margin: 20px auto 10px auto;
}

.button {
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 332px;
  border: none;
  margin: 20px auto 0 auto;
  display: block;
  cursor: pointer;
  color: #fff;
  outline: none;
}

.button:hover {
  background-color: #365999a8;
  color: rgba(255, 255, 255, 0.678);
  opacity: 0.8;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  text-align: center;
  /* padding: 20px; */
  align-self: flex-start;
  margin: 8px;
}

footer {
  color: rgb(221, 222, 236);
  font-size: 26px;
  text-align: center;
  font-style: italic;
}
